:root {
  --white-txt-color: #ffffff;
  --black-txt-color: #000000;
  --dark-txt-color: #212121;
  --blue-txt-color: #2196f3;
  --gray-txt-color: #757575;
  --whitness-txt-color: rgba(255, 255, 255, 0.6);
  --whitness-bg-color: #F5F4FA;
  --blue-bg-color: #2196f3;
  --darkness-bg-color: #2F303A;
  --white-bg-color: #ffffff;
  --gray-fill-color:#AFB1B8;
  --blue-fill-color: #2196f3;
  --white-fill-color:#ffffff;
  --grayeness-fill-color: #757575;
  --items: 3;
  --margins:30px;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  color: var(--dark-txt-color);
}
body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio-link {
  text-decoration: none;
}

.no-points {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-set {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--margins) / 2);
  padding-left: 0;
}
.card-set__item {
  -ms-flex-preferred-size: calc((100% - var(--margins) * var(--items)) / var(--items));
      flex-basis: calc((100% - var(--margins) * var(--items)) / var(--items));
  margin: calc(var(--margins) / 2);
}

.button {
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--whitness-bg-color);
  cursor: pointer;
  -webkit-transition: color var(--anim), background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.button:hover, .button:focus {
  background-color: var(--blue-bg-color);
  color: var(--white-txt-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn-filtr {
  display: block;
  padding: 8px 22px;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-txt-color);
}

.btn-order {
  margin: 0 auto;
  padding: 10px 32px;
  background-color: var(--blue-bg-color);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-txt-color);
}

.footer-subscribe-btn {
  margin-left: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: inline-block;
  color: #FFFFFF;
  background-color: var(--blue-bg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 9px;
  cursor: pointer;
  border: none;
  width: 200px;
}
.footer-subscribe-btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon send.svg");
  margin-left: 10px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  border: none;
}

.portfolio-btn {
  background-color: var(--white-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.form-btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-submit {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-txt-color);
  background-color: var(--blue-bg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 56px;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}
.btn-submit:hover, .btn-submit:focus {
  background-color: var(--blue-txt-color);
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--gray-fill-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color var(--anim), background-color var(--anim);
  transition: color var(--anim), background-color var(--anim);
}
.social-media__item:not(:last-child) {
  margin-right: 10px;
}
.social-media__link:hover, .social-media__link:focus {
  color: var(--white-fill-color);
  background-color: var(--blue-fill-color);
}
.social-media__icon {
  fill: currentColor;
}

.social-media-bg {
  background-color: rgba(255, 255, 255, 0.1);
  color: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color var(--anim), background-color var(--anim);
  transition: color var(--anim), background-color var(--anim);
}
.social-media-bg:hover, .social-media-bg:focus {
  color: var(--white-fill-color);
  background-color: var(--blue-fill-color);
}

.strong-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-txt-color);
}

.welcome-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-txt-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.contacts {
  color: var(--gray-txt-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-decoration: none;
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.contacts:hover, .contacts:focus {
  color: var(--blue-txt-color);
}
.contacts:hover .mail, .contacts:focus .mail {
  color: var(--blue-txt-color);
  fill: var(--blue-fill-color);
}
.contacts:hover .tel, .contacts:focus .tel {
  color: var(--blue-txt-color);
  fill: var(--blue-fill-color);
}

.over {
  position: relative;
  overflow: hidden;
}
.over:hover .portfolio-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
  width: 100%;
  overflow: hidden;
}
.portfolio-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-txt-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  background-color: var(--white-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-8px, 18px);
          transform: translate(-8px, 18px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: var(--white-bg-color);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--blue-fill-color);
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.header-nav-cont {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding-left: 0;
}
.header-nav .item-tel:last-child {
  margin-right: 0;
}

.header-bg {
  background-color: var(--white-bg-color);
  border-bottom: 1px solid #ECECEC;
}

.logo-header {
  font-family: "Raleway";
  color: var(--blue-txt-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  word-spacing: -0.29em;
  margin-right: 93px;
}

.logo-header-part-2 {
  color: var(--black-txt-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.page-nav {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.page-nav .item:last-child {
  margin-right: 0;
}

.item {
  margin-right: 50px;
}

.anchor {
  display: block;
  color: var(--dark-txt-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.anchor:hover, .anchor:focus {
  color: var(--blue-txt-color);
}

.current {
  position: relative;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--blue-txt-color);
}
.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  display: inline-block;
  background-color: var(--blue-bg-color);
  border-radius: 2px;
}

.mail {
  fill: var(--grayeness-fill-color);
  margin-right: 10px;
  margin-bottom: -2px;
  -webkit-transition: color var(--anim), fill var(--anim);
  transition: color var(--anim), fill var(--anim);
}

.tel {
  fill: var(--grayeness-fill-color);
  margin-right: 10px;
  margin-bottom: -2px;
  -webkit-transition: color var(--anim), fill var(--anim);
  transition: color var(--anim), fill var(--anim);
}

.about {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--white-bg-color);
}
.about-text {
  margin-bottom: 50px;
}

.section-about {
  padding-bottom: 94px;
}
.section-about__job {
  position: relative;
}
.section-about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  width: 100%;
}/*# sourceMappingURL=main.css.map */