:root
{
    --white-txt-color: #ffffff;
    --black-txt-color: #000000;
    --dark-txt-color: #212121;
    --blue-txt-color: #2196f3;
    --gray-txt-color: #757575;
    --whitness-txt-color: rgba(255, 255, 255, 0.6);

    --whitness-bg-color: #F5F4FA;
    --blue-bg-color: #2196f3;
    --darkness-bg-color: #2F303A;
    --white-bg-color: #ffffff;


    --gray-fill-color:#AFB1B8;
    --blue-fill-color: #2196f3;
    --white-fill-color:#ffffff;
    --grayeness-fill-color: #757575;

    --items: 3;
    --margins:30px;
     
--anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);



}


body
{
font-family: "roboto", Arial, Helvetica, sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 1.71;
color: var(--dark-txt-color);
}


.no-scroll {
    overflow: hidden;   
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
 }


img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*сітка на флексах старт*/
.card-set {
    /*display: flex;*/
    flex-wrap: wrap;
    margin: calc(-1 * var(--margins) / 2);
    padding-left: 0;
    
}

.card-set-item {
    flex-basis: calc((100% - var(--margins) * var(--items)) / var(--items));
    margin: calc(var(--margins) / 2);
    
}

/*сітка на флексах фініш*/


.header-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
   
  
   
}

.header-nav-cont
{
    align-items: center;
    margin-left: auto;
    padding-left: 0;
}
.header-bg
{
    background-color: var(--white-bg-color);
    border-bottom: 1px solid #ECECEC;
   
}
.logo-header
{
    
    font-family: 'Raleway';
    color: var(--blue-txt-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    word-spacing: -0.29em;
    margin-right: 93px;
    
   
    
   
}

.logo-header-part-2
{
    color: var(--black-txt-color); 
   
}

.nav {
    display: flex;
   margin-left: 0;
   }

.page-nav {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    
  }

 .item {
    margin-right: 50px;
     
 }


/*очищення правого відступу*/
.page-nav .item:last-child {
    margin-right: 0;
}

/*очищення правого відступу*/
.header-nav .item-tel:last-child {
    margin-right: 0;
}


.button {
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--whitness-bg-color);
    cursor: pointer;
    transition: color var(--anim), background-color var(--anim), box-shadow var(--anim) ;
}

.button:hover,
.button:focus
{
background-color: var(--blue-bg-color);
color: var(--white-txt-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.btn-filtr {
    display: block;
    padding: 8px 22px;
    font-size: 16px;
        line-height: 1.62;
    border: none;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--dark-txt-color)
    
}



.btn-order
{
       margin: 0 auto;
    padding: 10px 32px;

    background-color: var(--blue-bg-color);
    border: none;
    border-radius: 4px;
    
    font-weight: 700;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-txt-color);
}

.anchor {
    display: block;
    color: var(--dark-txt-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--anim);
    
}


.anchor:hover,
.anchor:focus
{
    color: var(--blue-txt-color);
}


.contacts {
    color: var(--gray-txt-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;
    transition: color var(--anim);
}


.contacts:hover,
.contacts:focus
{
    color: var(--blue-txt-color);
    
}


.contacts:hover .mail,
.contacts:focus .mail {
    color: var(--blue-txt-color);
    fill: var(--blue-fill-color);
}

.contacts:hover .tel,
.contacts:focus .tel {
    color: var(--blue-txt-color);
    fill: var(--blue-fill-color);
}



.no-points {
    list-style: none;
    display: flex;
  
    
}


.current {
    position: relative;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--blue-txt-color);
}


.current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    display: inline-block;
    background-color: var(--blue-bg-color);
    border-radius: 2px;

}

.address-style
{
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-txt-color);
    text-decoration: none;
    margin-left: 0;;
    list-style: none;
    transition: color var(--anim);
    
   
}

.mail {
    fill:var(--grayeness-fill-color);
    margin-right: 10px;
    margin-bottom: -2px;
    transition: color var(--anim), fill var(--anim);
}

.tel {
   
    fill: var(--grayeness-fill-color);
    margin-right: 10px;
    margin-bottom: -2px;
    transition: color var(--anim), fill var(--anim);
    
}

.address-style:hover,
.address-style:focus {
    color: var(--blue-txt-color);
  
}


.points  {

    display: block;
    padding-left: 0;
    width: 231px;
    margin-top: 20px;
    margin-bottom: 0;  
        
}

.footer-union {
    display: flex;
    
}


.footer-bg
{
    
padding-bottom: 60px;
 padding-top: 60px;
 background-color:var(--darkness-bg-color)
 
 
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts-mail, .footer-contacts-tel

{
    
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--whitness-txt-color);
    font-style: normal;
    list-style: none;
    }

.logo-footer
{
font-family: 'Raleway';
color: var(--blue-txt-color);
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
word-spacing: -0.29em;
}


/*.footer-address {

}*/



.logo-footer-part-2 
{
       color: var(--white-txt-color);
       
}

.footer-subscribe {
    margin-left: 93px;
    padding-top: 8px;

}


.subscribe-label {
   display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
   margin-bottom: 20px;
  
  
}


.subscribe-input {
    width: 358px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 13px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    
    align-items: center;
    letter-spacing: 0.03em;
    background-color: var(--darkness-bg-color);
    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}


.footer-subscribe-btn {
    
    margin-left: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    display: inline-block;
    color: #FFFFFF;
    background-color: var(--blue-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 9px;
    cursor: pointer;
    border: none;
    width: 200px;
    
}


.footer-subscribe-btn::after {
    content:'';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../images/icon\ send.svg');
    margin-left: 10px;
    transform: translateY(25%);
    border: none;
    
    
}


.smi-footer {
fill: #ffffff;
}

.welcome {
min-width: 206px;
padding-top: 12px;
color: var(--white-fill-color);
margin-left: 70px;
}

.welcome-title {

    display: flex;
    
    align-items: center;
    color: var(--white-txt-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    
    
}

.welcome-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-left: 0; 
    margin-bottom: 0;
    }

.section {
    
    padding-bottom: 94px;
    padding-top: 94px;
  
}

.sec-hero {
background-color: var(--darkness-bg-color);
padding-top: 200px;
padding-bottom: 200px;
background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: auto;


}

.hero

{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    align-items: center;
    max-width: 696px;
    color: var(--white-txt-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    
    
    
}


.our-benefits
{
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
     
}

.benefits-list {
width: 270px;
}

.benefits-list:not(:last-child) {
  
    margin-right: 30px;
}


.pictogramms {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--whitness-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
}

.benefits
{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
   
    margin-bottom: 10px;
    
    
      
}



.description
{
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--gray-txt-color);
    
   
}

.description-last {
    margin-right: 0;
}

.section-about {
    padding-bottom: 94px;
}

.our-team
{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    
}

.about {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--white-bg-color);
    margin-bottom: 50px;
}

.about-job {
position: relative;
}

.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);

    padding-top: 27px;
    padding-bottom: 27px;

    position: absolute;
    bottom: 0;
    width: 100%;
}


.subscribe {
padding-top: 30px;
padding-bottom: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team
{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
width: 270px;
text-align: center;
margin-bottom: 10px;
}

.prof
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--gray-txt-color);
    width: 270px;
    text-align: center;
    margin-bottom: 16px;
    
}

.bg-team
{
    background-color: var(--white-bg-color);
    --items: 4;

}

.list {
   list-style: none;
        margin: 0;
        padding: 0;
}

.social-media {
   display: flex;
   justify-content: center;
   
}

.social-media-bg {
    background-color: rgba(255, 255, 255, 0.1);
    color: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: color var(--anim), background-color var(--anim);
}

.social-media-bg:hover,
.social-media-bg:focus {
    color: var(--white-fill-color);
    background-color: var(--blue-fill-color);}

.social-media-link {
       display: flex;
       align-items: center;
       justify-content: center;
       color: var(--gray-fill-color);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: color var(--anim), background-color var(--anim);
}


.social-media-item:not(:last-child) {
    margin-right: 10px;
}


.social-media-link:hover,
.social-media-link:focus {
color: var(--white-fill-color);
background-color: var(--blue-fill-color);
}

.social-media-icon {
  fill: currentColor;
}


.social-media-item {
 
   
}



.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    
}

.clients-list {
    display: flex;
    list-style: none;
    padding-left: 0; 
    margin-top: 0;
    margin-bottom: 0; 
}

.clients-item:not(:last-child) 
{
    margin-right: 30px;
}

.clients-icon {
display: flex;
width: 170px;
height: 92px;
border: 1px solid #AFB1B8;
border-radius: 4px;
text-align: center;
justify-content: center;
align-items: center;
transition: color var(--anim), border-color var(--anim);

}

.clients-svg {
    fill: var(--gray-fill-color) ;
    width: 106px;
    height: 60px;
    transition: color var(--anim), fill var(--anim);
}

.clients-icon:hover, 
.clients-icon:focus  {
border-color: var(--blue-bg-color);
   
}

.clients-icon:hover .clients-svg,
.clients-icon:focus .clients-svg {
fill: var(--blue-fill-color);
}



.clients-icon:not(:last-child) {
margin-right: 30px;

}


.portfolio-btn
{
    background-color: var(--white-bg-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.secbg
{
    background-color: var(--whitness-bg-color);
   padding-top: 94px;
   padding-bottom: 94px;
     
}


.portfolio-link {
    text-decoration: none;
   
}


.portfolio-bg
{  
    background-color: var(--white-bg-color);       
    transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
   
}

.portfolio-bg:hover,
.portfolio-bg:focus {
   
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.over {
position: relative;
overflow: hidden;
}

.portfolio-overlay {
position: absolute;
bottom: 0;
left: 0;
display: flex; 
transform: translateY(100%);
justify-content: center;
align-items: center;
background-color: rgba(33, 150, 243, 0.9);
padding: 63px 24px;
transition: transform var(--anim);
width: 100%;
overflow: hidden;

} 

.portfolio-overlay-text {

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-txt-color);
}

.over:hover .portfolio-overlay {
transform: translateY(0%);


}
.border 
{

border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
padding: 20px 24px;


}


.port-list
{
   
justify-content: center;
min-width: 611px;
padding-left: 0;
padding-right: 0;
margin-bottom: 50px;
margin-top: 0;
  
}

.portfolio-item {
    
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
--items: 9;
margin-left: 8px;

}


.projects
{
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--dark-txt-color);
    
}

.project-type
{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--gray-txt-color);
   
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity var(--anim), visibility var(--anim);
    background-color: rgba(0, 0, 0, 0.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    background-color: var(--white-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-8px, 18px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--white-bg-color);
    transition: fill var(--anim);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

textarea {
resize: none;
}

.form {
width: 448px;
margin-left: auto;
margin-right: auto;
}

.form-fields {
margin-bottom: 10px;
position: relative;


}

.form-label {
    display:block;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: var(--gray-txt-color);  
        
        
}

.form-fields-check  {
 display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;

}

.placeholder {
    margin-bottom: 20px;
    
}


.form-input-check:checked + .border-check {
    fill: var(--blue-fill-color);
    background-color: var(--blue-bg-color);
    margin-right: 7px;
    width: 16px;
    outline: 1px solid var(--blue-bg-color);
    outline-offset: -2px;
    border-radius: 2px;
    transition: background-color var(--anim);
    
}

.form-label-check {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: flex;
    color: var(--gray-txt-color);
    align-items: center;
   
}


.checkbox {
-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}



.form-input {
    display: block;
    margin-top: 4px;
    transition: border-color var(--anim);
}


.textarea {
    height: 120px;
}
.form-fields input {
   padding-top: 12px;
   padding-bottom: 12px;
    padding-left: 42px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.policy {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration-line: underline;
        color: var(--blue-txt-color);
        cursor: pointer;
       margin-left: 3px;
}


.icon-input {
    position: absolute;
    top: 50%;
    left: 12px;
    display: inline-block;
    transition: fill var(--anim);
}


.form-btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-submit {
    
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.06em;
    
    color: var(--white-txt-color);
    background-color: var(--blue-bg-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:none;
    padding: 10px 56px;
    
    transition: var(--anim);
}

.form-fields textarea {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}


.textarea {
    padding: 12px 16px;
}


.strong-title {
    
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
     color: var(--dark-txt-color)
}


.form-fields input:hover, 
.form-fields input:focus {
    border-color: var(--blue-bg-color);
    outline:none;
}

.form-fields textarea:hover,
.form-fields textarea:focus  {
    border-color: var(--blue-fill-color);
    outline: none;
}

.form-fields:hover .icon-input,
.form-fields:focus-within .icon-input {
    fill: var(--blue-fill-color);
   }





.modal-close:hover,
.modal-close:focus{
    fill: var(--blue-fill-color);
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: var(--blue-txt-color);
   
}

.icon-agree {
    display: flex;
    align-items: center;
    margin-right: 7px;
    
   
  
}



.icon-rect {
    position: absolute;
}