

.points  {

    display: block;
    padding-left: 0;
    width: 231px;
    margin-top: 20px;
    margin-bottom: 0;  
        
}

.footer-union {
    display: flex;
    
}


.footer-bg
{
    
padding-bottom: 60px;
 padding-top: 60px;
 background-color:var(--darkness-bg-color)
 
 
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}



.footer-subscribe {
    margin-left: 93px;
    padding-top: 8px;

}



.welcome {
min-width: 206px;
padding-top: 12px;
color: var(--white-fill-color);
margin-left: 70px;
}



.welcome-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-left: 0; 
    margin-bottom: 0;
    }



.sec-hero {
background-color: var(--darkness-bg-color);
padding-top: 200px;
padding-bottom: 200px;
background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: auto;


}



.benefits
{
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
     
}

.benefits__list {
width: 270px;
}

.gap:not(:last-child) {
  
    margin-right: 30px;
}


.pictogramms {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--whitness-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
}



.secbg__title {
    margin-bottom: 50px;
}


.secbg__subscribe {
padding-top: 30px;
padding-bottom: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}



.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}



.clients-list {
    display: flex;
    list-style: none;
    padding-left: 0; 
    margin-top: 0;
    margin-bottom: 0; 
}

.clients-item:not(:last-child) 
{
    margin-right: 30px;
}

.clients-icon {
display: flex;
width: 170px;
height: 92px;
border: 1px solid #AFB1B8;
border-radius: 4px;
text-align: center;
justify-content: center;
align-items: center;
transition: color var(--anim), border-color var(--anim);

}

.clients-svg {
    fill: var(--gray-fill-color) ;
    width: 106px;
    height: 60px;
    transition: color var(--anim), fill var(--anim);
}

.clients-icon:hover, 
.clients-icon:focus  {
border-color: var(--blue-bg-color);
   
}

.clients-icon:hover .clients-svg,
.clients-icon:focus .clients-svg {
fill: var(--blue-fill-color);
}



.clients-icon:not(:last-child) {
margin-right: 30px;

}




.secbg
{
   background-color: var(--whitness-bg-color);
   padding-top: 94px;
   padding-bottom: 94px;
     
}


.border 
{

border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
padding: 20px 24px;


}


.port-list
{
   
justify-content: center;
min-width: 611px;
padding-left: 0;
padding-right: 0;
margin-bottom: 50px;
margin-top: 0;
  
}

.portfolio-item {
    
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
--items: 9;
margin-left: 8px;

}



.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity var(--anim), visibility var(--anim);
    background-color: rgba(0, 0, 0, 0.1);
}



.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

textarea {
resize: none;
}

.form {
width: 448px;
margin-left: auto;
margin-right: auto;
}

.form-fields {
margin-bottom: 10px;
position: relative;


}


.form-fields-check  {
 display: flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;

}

.placeholder {
    margin-bottom: 20px;
    
}


.form-input-check:checked + .border-check {
    fill: var(--blue-fill-color);
    background-color: var(--blue-bg-color);
    margin-right: 7px;
    width: 16px;
    outline: 1px solid var(--blue-bg-color);
    outline-offset: -2px;
    border-radius: 2px;
    transition: background-color var(--anim);
    
}



.form-input {
    display: block;
    margin-top: 4px;
    transition: border-color var(--anim);
}


.textarea {
    height: 120px;
}
.form-fields input {
   padding-top: 12px;
   padding-bottom: 12px;
    padding-left: 42px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}




.icon-input {
    position: absolute;
    top: 50%;
    left: 12px;
    display: inline-block;
    transition: fill var(--anim);
}



.form-fields textarea {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}


.textarea {
    padding: 12px 16px;
}





.icon-agree {
    display: flex;
    align-items: center;
    margin-right: 7px;
       
}


.icon-rect {
    position: absolute;
}