.card-set {

    flex-wrap: wrap;
    margin: calc(-1 * var(--margins) / 2);
    padding-left: 0;

    &__item {
            flex-basis: calc((100% - var(--margins) * var(--items)) / var(--items));
            margin: calc(var(--margins) / 2);
    
        }

}

